a,
span {
    text-decoration: none;
    

}

ul {
    list-style: none;
    padding: 0;
}
.margin-bottom-remove{
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    padding-right:0 !important ;
}
body {
    font-family: "Inter", sans-serif;
}

.dark-color {
   background-color: #212b36;
}
.light-dark{
    color: #919eab !important;
    transition: all 0.3s ease;
}
.light-dark:hover{
    color: white !important;
    i{
        color: white !important;
    }
}
.white-color{
    color: white !important;
}
.full-dark {
    color: #454f5b;
    letter-spacing: 1px;
    font-size: 13px !important;
    text-transform: capitalize;
    
}

.menu-side{
    transition: all .3s ease;
}
.menu-side ul li {
    font-size: 15px;
}
.menu-side a{
    color: #f4f6f8;
    h4{
        margin-left: 32px;
    }
}

.card ul li {
   
    font-size: 15px;
    a{
        color: #919eab !important;
         transition: all .3s ease !important;
    }
    
}

.notification-icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #e9e9e9;
    align-content: center;
}
nav{
    background-color: white;
}
.img-absolute{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #198754;
    bottom: -1px;
    right: 2px;
    border: 2px solid white;

}

.primary-background{
    background-color: #624bff !important;
    opacity: 1;
    padding-top: 64px !important;
    padding-bottom: 150px !important;
    
}
.row-margin-top{
    margin-top: -160px !important;
}
.projects-icon{
    height: 40px !important;
    color: #624bff !important;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-h{
   margin-top: 5px;
   font-size: 18px !important;
}
.shadow-sm{
    box-shadow: 0px 0px 7px 0px #bababa !important
}
.dropdown-toggle::after{
    display: none !important;
}
.dropdown-item1 p{
    font-size: 12px !important;
}
.dropdown-item:hover p{
    color: #624bff;
}
.dropdown-item1{
    border-bottom: 1px solid rgb(212, 212, 212);
    p:hover{
        color: #624bff !important;
    }

}
.dropdown-item1 p a{
    color: #212b36;
}
.dropdown-item1 p a:hover{
    color: #624bff;
}
.dropdown-item2{
    font-size: 15px !important;
    padding-bottom:0 ;
    margin-bottom: 0 !important;
    gap: 0 !important;
}
