a,
span {
    text-decoration: none;


}

ul {
    list-style: none;
    padding: 0;
}

.margin-bottom-remove {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f9fafb;
    width: 100%;
}

p {
    font-size: 15px !important;
}

.row-height {
    height: 100%;

}

.left-side {
    max-width: 250px;
    display: block;
}

.green-color {
    color: #198754 !important;
}

.text-size {
    font-size: 15px !important;
}

.dark-color {
    background-color: #212b36;
}

.text-dark-color {
    color: #777373;
    ;
}

.text-dark {
    color: #d8dbdf;
}

.light-dark {
    color: #919eab !important;
    transition: all 0.3s ease;
}

.light-dark:hover {
    color: white !important;

    i {
        color: white !important;
    }
}

.white-color {
    color: white !important;
}

.full-dark {
    color: #454f5b;
    letter-spacing: 1px;
    font-size: 13px !important;
    text-transform: capitalize;

}

.text-light-dark {
    color: #919eab !important;
}

.bottom-border {
    border-bottom: 1px solid rgb(202, 202, 202);
}

/* .row{
    margin: 0;
    width: 100%;
} */

.menu-side {
    transition: all .3s ease;

}



.menu-side ul li {
    font-size: 15px;
}

.menu-side a {
    color: #f4f6f8;

    h4 {
        margin-left: 32px;
    }
}

.card ul li {

    font-size: 15px;

    a {
        color: #919eab !important;
        transition: all .3s ease !important;
    }

}

.notification-icon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #e9e9e9;
    align-content: center;

}

nav {
    background-color: white;
}

.img-absolute {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #198754;
    bottom: -1px;
    right: 2px;
    border: 2px solid white;

}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item1 p {
    font-size: 12px !important;
}

.dropdown-item:hover p {
    color: #624bff;
}

.dropdown-item1 {
    border-bottom: 1px solid rgb(212, 212, 212);

    p:hover {
        color: #624bff !important;
    }

}

.dropdown-item1 p a {
    color: #212b36;
}

.dropdown-item1 p a:hover {
    color: #624bff;
}

.dropdown-item2 {
    font-size: 15px !important;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    gap: 0 !important;
}

.primary-background {
    background-color: #624bff !important;
    opacity: 1;
    padding-top: 64px !important;
    padding-bottom: 150px !important;

}

.row-margin-top {

    margin-top: -165px !important;
}


.projects-icon {
    height: 40px !important;
    color: #624bff !important;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-h {
    margin-top: 5px;
    font-size: 18px !important;
}

.shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 20, .08), 0 1px 2px rgba(0, 0, 20, .08);
}

.table-responsive {
    width: 100% !important;
}

.avater-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;

    p {
        font-size: 13px;
    }
}

.avater-counting {
    font-size: 14px;

    border-radius: 100%;

}

.avater-margin:hover {
    z-index: 2;
}

.avater-margin {
    margin-left: -15px;
}

.avater-margin2 {
    margin-left: -15px;
    margin-top: 3px;
}

.avater-margin2:hover {
    z-index: 2;

}

.text-black:hover {
    color: #624bff !important;

}

.error-heading {
    font-size: 60px !important;
    font-weight: 700 !important;
}

.text-light-dark {
    a {
        color: #919eab !important;
    }
}

.text-light-dark:hover {
    a {
        color: #624bff !important;
    }
}

.mastercard-img {
    width: 30px;
    height: 20px;
}

.progress {
    height: 8px;
    margin: 5px 0;
}

.table {
    width: 100% !important;
    padding: 0 !important;

}

.table-avater-img {
    height: 50px;
    width: 50px;
}

.table1-avater-img {
    height: 35px;
    width: 35px;
    line-height: 30px;
}

.btn-dark {
    padding: 7px 45px !important;
}

.margin-top {
    margin-top: 80px;
}

.pricing-content-heading {
    font-size: 56px;
    font-weight: 700 !important;
    letter-spacing: -2px;

}

.pricing-page-icons {
    width: 50px;
    text-align: center;

}